{#subject}Check out using EVA Pay{#/subject}

<table role="presentation" border="0" cellspacing="24px" width="100%" style="background-color: #FFFFFF;">
    <tr>
        <td width="100%">
            <table role="presentation" border="0" cellspacing="0" width="100%">
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-weight:700; font-style: normal; font-weight: 700; font-size: 28px; line-height: 32px; color: #0E1720;">
                        {{if FirstName}} Hi {{>FirstName}}, {{else}} Hi there, {{/if}}
                    </td>
                </tr>
                <tr height="8px">
                    <td></td>
                </tr>
                <tr>
                    <td
                        style="font-family: Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 15px; line-height: 20px; color: #0E1720;">
                        You're almost there! Use the link below to complete your order using EVA Pay.</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" style="border-radius: 3px; border: 1px solid #C6CDD2; padding: 24px;">
            <table role="presentation" border="0" cellspacing="0" width="100%">
                <td>
                    <table role="presentation" border="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="font-family: Verdana, sans-serif; font-weight:700; font-size: 19px; line-height: 24px; color: #0E1720;">Order #{{>OrderID}}</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 13px; line-height: 18px; color: #758088">Total: {{>CurrencyID}} {{>Amount}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table role="presentation" border="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <a href="https://eva-ecom-showcase-test.netlify.app/profile">
                                    <button style="height: 56px; width: 100%; border: 1px solid #C6CDD2; border-radius: 3px; background-color: #FFFFFF; font-family: Verdana, sans-serif; font-weight:700; font-size: 16px; line-height: 22px; color: #0E1720; cursor: pointer;">
                                        Order info
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <table role="presentation" border="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <a href="https://euw.nbsc.test.eva-online.cloud/login">
                            <button
                                style="height: 56px; width: 100%; border: 0; border-radius: 3px; background-color: #007AFF; font-family: Verdana, sans-serif; font-weight:700; font-size: 16px; line-height: 22px; color: #FFFFFF; cursor: pointer;">
                                Pay now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <table role="presentation" border="0" cellspacing="0" width="100%">
                <tr>
                    <td
                        style="font-family: Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 15px; line-height: 20px; color: #0E1720;">
                        Link not working? Try pasting the following URL into your browser bar instead;</td>
                </tr>
                <tr height="8px">
                    <td></td>
                </tr>
                <tr>
                    <td
                        style="font-family: Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 15px; line-height: 20px; color: #758088; word-break: break-all;">
                        {{>Url}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
