:root {
    --background-primary: #FFFFFF;
    --background-secondary: #F0F2F5;

    --text-primary: #0E1720;
    --text-secondary: #758088;

    --input-text-primary: #0E1720;
    --input-text-secondary: #8D959B;
    --input-text-tertiary: #B8C3CC;
    --input-text-error: #F78B84;

    --border-default: #C6CDD2;
    --border-hover: #6B757C;
    --border-active: #0053AE;
    --border-focus: #007AFF;
    --border-error: #FF3B30;

    --checkbox-radio: #007AFF;

    --input-background-default: #FFFFFF;
    --input-background-disabled: #F7F8F9;
    --input-background-error: #FFF7F7;

    --top-bar-background: #0E1720;
    --top-bar-text: #FFFFFF;

    --button-default: #007AFF;
    --button-hover: #3E9AFF;
    --button-active: #0053AE;
    --button-focus: #007AFF;
    --button-disabled: #DDE1E5;
    --button-text: #FFFFFF;

    --headings-font-family: 'Sk-Modernist';
    --body-text-font-family: 'Inter';
    --strapline-font-family: 'Inter';
    --button-text-font-family: 'Sk-Modernist';
}

body {
    margin: 24px;
    background-color: #E5E5E5;
}

img {
    display: block;
}

h1, h2, h3, p, a {
    margin: 0;
    color: var(--text-primary);
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Sk-Modernist';
}

p, a {
    font-family: 'Inter';
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-secondary {
    color: var(--text-secondary);
}

.heading1 {
    font-size: 40px;
    line-height: 44px;
}

.heading2 {
    font-size: 28px;
    line-height: 32px;
}

.heading3 {
    font-size: 19px;
    line-height: 24px;
}

.body-text-large {
    font-size: 17px;
    line-height: 24px;
}

.body-text-medium {
    font-size: 15px;
    line-height: 20px;
}

.body-text-small {
    font-size: 13px;
    line-height: 18px;
}

.button {
    height: 56px;
    background-color: var(--button-default);
    font-family: 'Sk-Modernist';
    font-size: 16px;
    line-height: 22px;
    color: var(--button-text);
    border: 0;
    border-radius: 3px;
    width: 100%;
    padding: 0;
    max-width: 432px;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--button-active);
}

.container {
    background-color: var(--background-primary);
    margin: auto;
    max-width: 480px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
}

.header {
    height: 64px;
    background-color: var(--top-bar-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 24px;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.callout {
    background-color: var(--background-secondary);
    padding: 12px;
    display: flex;
    gap: 12px;
    border-radius: 3px;
}

.callout-text {

}

.dummy-icon {
    height: 24px;
    width: 24px;
    background-color: #000000;
}

.footer {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.footer-icons {
    display: flex;
    gap: 16px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}